/*color pallet: https://coolors.co/7c6a0a-babd8d-ffdac6-fa9500-eb6424 */
/*----------------- START CONTAINER AND OTHER COMMON PART ------------------*/

:root{
  margin: 0;
  padding: 0;
}
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
button,
body {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
/*-------------- END CONTAINER AND OTHER COMMON PART ---------------------*/
.container-fluid {
  margin: 0;
  padding: 0;
}

/* TOP CONTAINER SECTION */
.top-container {
  background-size: cover;
  font-family: "Roboto Slab", serif;
  width: 100%;
  height: auto;
  opacity: 0.8;
  position: relative;
}

.top-container img {
  width: 100%;
}

.my_name {
  position: absolute;
  left: 5vw;
  top: 5vw;
  width: 90%;
  max-width: 300px;
  text-align: center;
}

.my_name h1 {
  color: #eb6424;
  font-size: 6em;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  margin: 0;
  line-height: 1.2;
}

.menu_box {
  background-color: #babd8d;
  padding: 30px 40px;
  opacity: 0.8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  position: absolute;
  right: 8vw;
  bottom: 5vw;
}

.menu_box a {
  color: black;
  font-size: 1.5em;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}



ul li:hover {
  /* color: rgb(41, 39, 39); */
  color: #7c6a0a;
}

/* ABOUT ME SECTION */
.about_me {
  margin: 50px 50px 50px 20px;
  height: auto;
  justify-content: center;
}
/* TITLE */
h2 {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20%;
  color: #eb6424;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.about_me-contents {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
  float: left;
  flex-wrap: wrap;
  align-items: center;
}
.my_pic {
  /* background-size is important */
  background-size: cover;
  margin-top: 30px;
  display: inline-block;
  flex: 0 0 auto; /* This sets the flex-grow, flex-shrink, and flex-basis properties to 0, effectively fixing the width of the element */
  width: 100%; /* This sets the width of the element to 100% */
  max-width: 300px; /* This sets a maximum width to ensure the image does not become too large on larger screens */
  margin-right: 15px; /* This adds some space between the image and the description */
  margin-left: 5px;
  text-align: center; /* Add this property to center the image */
}

.my_pic img {
  position: relative;
  height: 350px;
  box-shadow: 15px 15px 1px  #eb632475;
}

.explain {
  font-size: 25px;
  line-height: 30px;
  /* overflow: hidden; */
  margin-top: 40px;
  flex: 1 1 auto; /* This sets the flex-grow and flex-shrink properties to 1, allowing the element to grow and shrink with the available space */
  width: 100%; /* This sets the width of the element to 100% */
  max-width: calc(100% - 520px); /* This sets a maximum width to ensure the description does not become too narrow on smaller screens */
  margin-left: 30px;
}

/* ---------------  Media queries for smaller screens starts --------------- */
@media screen and (max-width: 768px) {
  .about_me {
    padding-top: 80px;
    }

  .about_me-contents {
    flex-direction: column;
  }

  .my_pic {
    float: left;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .explain {
    max-width: 100%; /* 幅を100%にして縦長にならないようにする */
    font-size: 20px;
  }
}

/* ---------------  Media queries for smaller screens ends --------------- */

.buttons {
  /* float: left; */
  margin: 50px 40px 50px 50px;
  /* text-align: center; */
  clear: left;
  display: flex;
  justify-content: center;
  /* background-color: violet; */
}
.buttons a {
  color: white;
}
.buttons button {
  margin-left: 30px;
  padding: 10px;
  background-color: #eb6424;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  box-shadow: 5px 5px 4px;
}
.buttons button:hover {
  color: white;
  background-color: #fa9500;
}
.downloadResume {
  margin-left: 30px;
  padding: 10px;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  box-shadow: 5px 5px 4px;
}

/* SKILLS SECTION */
.skills {
  margin: 60px 0px 80px 0px;
  height: auto;
  justify-content: center;
  clear: left;
  background-color: #f8ede87a;
  padding: 50px 0px 50px 0px;
  
}

.programming {
  display: flex; /* flex box */
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}
.programming_img {
  background-image: url(../public/img/programming.png);
  height: 100px;
  width: 100px;
  /* background-size is important */
  background-size: cover;
  margin: 20px;
  float: left;
}
.programming_skills {
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin-left: 60px;
}
.database {
  display: flex; /* flex box */
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}
.database_img {
  background-image: url(../public/img/database.png);
  height: 95px;
  width: 95px;
  /* background-size is important */
  background-size: cover;
  margin: 20px;
  float: left;
}
.database_skills {
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin-left: 60px;
}
.tool {
  display: flex; /* flex box */
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}
.tool_img {
  background-image: url(../public/img/intelij.png);
  height: 95px;
  width: 95px;
  /* background-size is important */
  background-size: cover;
  margin: 20px;
  float: left;
}
.tool_skills {
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin-left: 60px;
}
.web {
  display: flex; /* flex box */
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}
.web_img {
  background-image: url(../public/img/web.png);
  width: 159px;
  height: 95px;
  /* background-size is important */
  background-size: cover;
  /* margin: 20px; */
  float: left;
}
.web_skills {
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin-left: 20px;
}
.env {
  display: flex; /* flex box */
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
}
.env_img {
  background-image: url(../public/img/os.png);
  width: 170px;
  height: 69px;
  /* background-size is important */
  background-size: cover;
  /* margin: 10px; */
  float: left;
}
.env_skills {
  font-size: 20px;
  line-height: 30px;
  float: left;
  margin-left: 20px;
}

/* CONTACT ME SECTION */
.contact {
  margin: 70px 20px 50px 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 80%; */
  height: auto;
  position: relative;
}
.contact_form {
  padding: 45px;
  width: 70%;
  margin-left: 15%;
}
.contact p {
  margin-bottom: 10px;
  font-size: 15px;
}
.contact span {
  color: red;
}
input,
textarea {
  margin-bottom: 30px;
  border: 1px solid #dee7ec;
  width: 300px;
  padding: 6px;
  font-size: 12px;
  font-family: "Roboto Slab", serif;
}
.contact-submit {
  background-color: #eb6424;
  color: white;
  font-weight: bold;
  width: 150px;
  font-size: 1em;
  /* box-shadow: 左右の向きpx  上下の向きpx ぼかしpx 広がりpx 色 内側指定; */
  /* box-shadow: 0 0 10px rgba(0 0 0 / 0.2); */
  box-shadow: 5px 5px 4px;
}
.contact-submit:hover {
  color: white;
  background-color: #fa9500;
}
/* FOOTER SECTION */
footer {
  background-color:#fa9500;
  height: auto;
  width: 100%;
}
footer li {
  padding-bottom: 10px;
  /* color: white; */
  display: inline;
  margin-left: 20px;
}
.footer_elements {
  padding-top: 20px;
  text-align: center;
}
/*don't change the color to purple */
footer a:link,
footer a:visited {
  color: white;
}

footer p {
  font-size: 15px;
  margin: auto 0;
  text-align: center;
}




